<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.instabattle.app">

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:largeHeap="true" > <!-- FIXME ? -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZcZq8LVZ2qIij1aNPe9rYR3f7n9i8ynk" />

        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MenuActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MyProfileActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.MapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.RatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BattleListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CreateBattleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.BattleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.VoteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.CameraActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.PhotoEditActivity"
            android:screenOrientation="portrait" />

        <service android:name=".services.LocationService" />
    </application>

</manifest>